html {
  font-family: "Helvetica";
  font-size: 16px;
}

body {
  max-width: 1536px;
  margin: auto;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

header {
  width: 100%;
  font-size: 1.25rem;
}

input[type="text"],
input[type="email"],
input[type="search"],
select {
  border: 1px solid #fefefe;
  padding: 1rem 1.5rem;
  padding-right: 0;
  border-radius: 1rem;
  font-size: 1.25rem;
  width: 380px;
  background-color: #f6f6f6;
  width-width: 530px;
}

select {
  width: fit-content;
  padding-right: 1.5rem;
}

input[type="submit"] {
  background-color: #2563eb;
  border-radius: 1rem;
  margin: auto;
  font-size: 1.15rem;
  padding: 1rem 2rem;
  width: fit-content;
  border: none;
  color: white;
}

#search-form {
  margin: auto;
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.characters {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 4rem;
}

@media (max-width: 1024px) {
  .characters {
    display: flex;
    flex-direction: column;
  }

  body {
    padding: 1rem;
  }
}

.character {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transtion: all 0.3s ease-in-out;
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.character:hover,
.character.selected {
  background-color: #f6f6f6;
}

.character > p {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.character > img {
  border-radius: 2rem;
  object-fit: cover;
  object-position: center;
}

.contact > form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: fit-content;
  margin: auto;
}

.contact > h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
